ul{
  padding: 0px;
margin-left:2%;
margin-right:2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}
ul li{
  height: 100px;
  width: 360px;
  list-style-type: none;
  margin-top: 10px;
   /* border: 2px solid yellow; */
   /* margin: auto; */
}
ul li a{
  margin: auto;
  color:yellow;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-top: 15px;
  font-family: cursive;
  font-weight: bold;


}
.logoImg{
  align-items: center;
  text-align: center;
  height: 80%;
  width: 45%;
}




#main-item{
  /* background-color: rgb(19, 216, 206); */
   /* background: linear-gradient(to top, #3333ff 0%, #0066cc 100%); */
    background: linear-gradient(to top, #0099ff 0%, #0099cc 100%);
}
.carousel{
  margin: auto;
  display: flex;
  justify-content: center;
  /* background-color: gray; */
}
#carousel-item{
  padding: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.carousel-image{
  /* max-height: 30vh; */
  /* max-height: 150px; */
  /* max-width: 40vw; */
  /* max-width: 200px; */
  /* min-height: 10vh; */
  /* min-height: 90px; */
  /* min-width: 20vw; */
  /* min-width: 180px; */
  height: 250px;
  width: 380px;
   transition: 250ms all;
   position: relative;
   box-shadow: inset;
   border:1px solid gray;
     /* box-shadow:0px 0px 10px gray; */
     box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.carousel-img-1{
  margin-right:-180px;
  z-index: 1;
}
.carousel-img-2{
  transform: scale(1.2);
  z-index: 3;
}
.carousel-img-3{
  margin-left: -180px;
  z-index: 1;
}
.carousel-image:hover{
  transform: scale(1.4);
  z-index: 5;

}

#caption h1{
  font-size: 4.3rem;
  font-weight: bold;
  font-family: cursive;
  text-align: center;
  letter-spacing: 1.8px;
  color: #ff1a1a;
  animation: glow 4s ease-in-out infinite alternate;
}
@keyframes glow {
  to{
    text-shadow: 0px 0px 5px red,0px 0px 10px red,0px 0px 15px #ffff1a,0px 0px 20px #ffff1a,0px 0px 25px #ffff1a,0px 0px 30px #ffff1a,0px 0px 40px #ffff1a;
  }
  from{
       text-shadow: 0px 0px 10px red,0px 0px 15px #ffff66,0px 0px 20px #ffff66, 0px 0px 25px #ffff66, 0px 0px 30px #ffff66,0px 0px 35px #ffff66,0px 0px 40px #ffff66,0px 0px 45px #ffff66,;
  }

}

.about-para {
    padding: 12px;
    width: 80%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 30px;
    font-weight: 150;
    font-size: 1.3rem;
}
.text-highlight {
    color: #ffa32e;
    font-weight: 600;

}

#actorSection{
    background-image: linear-gradient(to right, rgb(255, 230, 230), rgb(255, 235, 204), rgb(255, 255, 230), rgb(230, 255, 230),rgb(245, 245, 240));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 #container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
}


/* ActorSection */


.commomCard{
  height:350px;
  width:260px;
  margin:30px;
  cursor:pointer;
   box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
   text-align:center;
   background-color: white;
   /* border: 2px solid red; */

}

.commomCard img{
   width:100%;
    height:50%;
}
.actorName{
  font-size: 27px;
}

.actorDescriptions{
  color:gray;
  font-size:17px;

}
.social-media-icons a{
      text-decoration:none;
      font-size:22px;
      color:black;
      margin:0 5px;
      /* border: 2px solid gray; */
      /* border-radius: 50%; */
      /* animation: iconsAnimation 2s ease-in-out infinite alternate; */

}
/* @keyframes iconsAnimation {
  from{
      box-shadow: 0px 0px 10px gray;
  }
  to{
    border-radius: 0px 0px 20px yellow;
  }
} */

.social-media-icons a:hover{
  opacity:0.7;
}
.contactItems{
  border:none;
  outline:0;
  display: inline-block;
padding: 8px;
  color: white;
   background-color: #000;
 text-align: center;
cursor: pointer;
width: 100%;
 font-size: 18px;
}
.contactItems:hover{
  opacity:0.7;
}
#AmitabhCard{
  border-bottom: 5px solid #0000CD;
  background-color: #ffffe6;
}





/* //Music Section */

.section-heading{
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  font-family:cursive;
  color:##00ffff;
animation: myAnimation 2s ease-in-out infinite alternate;
}
@keyframes myAnimation {
    from{
      color:#00ffff;
    }
    to{
      color:#3366cc;
    }
}
.section-heading span{
  color:red;
  /* background-color: red; */
}


#funMusicSection{
  background-image: url("1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:100%;
  /* opacity: 0.9; */
}
#scrolledImageSection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* justify-content: center; */
}

.commomImageSection{
  height:330px;
  width:280px;
  margin:20px;
  cursor:pointer;
   box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
   text-align:center;
   background-color: #e6f2ff;
   border: 2px solid gray;
   /* text-align: center; */
   /* border-radius: 4px; */
   /* border: 2px solid red; */
}
.commomImageSection img{
  height: 84%;
  width: 100%;
}
.commomImageSection h1{
  color:#ff9900;
  font-size: 2rem;
  /* animation: textAnimation 2s ease-in-out infinite alternate; */

  /* align-items: center; */
  /* justify-content: center; */
}
/* @keyframes textAnimation {
  from{
    visibility: hidden;
  }
  to{
    visibility: visible;
  }

} */


/* Playing music section */


#musicSection{
      /* background-image:linear-gradient(to right,rgb(16, 16, 10),rgb(93, 93, 60), rgb(31, 31, 20), rgb(31, 31, 20),rgb(16, 16, 10)); */
  background-color:black;
          background-position: center;
          background-repeat: no-repeat;
           background-size: cover;
           /* opacity: 0.5; */
            /* filter: blur(8px); */
            }

#funWithMusicSection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  opacity: 0.9;
}

.funWithMusicCommonClass{
background-color: white;
  height: 290px;
  width: 225px;
   max-width: 250px;
  max-height: 400px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 align-items: center;
 text-align: center;
 cursor: pointer;
 margin: 50px 50px;
 opacity: 0.9;

 }

.funWithMusicCommonClass img{
  height:78%;
  width: 100%;

  box-shadow: 0px 0px 20px black;
}
.audioSection audio{
  width: 98%;
}
.audioSection1 audio{
  width: 60%;
}




     /* Artist Container Section */

      #artistSection{
       background-image: linear-gradient(to right,rgb(255, 255, 230),rgb(230, 255, 255));
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
     }
 #artistContainer{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}
#artistContainer img{
  height: 260px;
  width: 260px;

  text-align: center;
  border-radius: 50%;
  margin: 30px;

animation: myAnimationArtist 2s ease-in-out infinite alternate;
}


/* #gallery img:hover{
    box-shadow: 10px 10px 20px gray;
} */
@keyframes myAnimationArtist {
  0%{
      box-shadow: 0px 0px 1px #b3cccc,0px 0px 2px #b3cccc,0px 3px 0px #b3cccc,0px 0px 4px #b3cccc;
  }
  20%{
      box-shadow: 0px 0px 2px #b3cccc,0px 0px 3px #85adad,0px 0px 4px #85adad,0px 0px 5px #85adad;
  }

}
.section-heading-effect{
  animation: textHeadingAnimation 2s ease-in-out infinite alternate;
}
@keyframes textHeadingAnimation {
  from{
    text-shadow: 0px 0px 2px #ff3333,0px 0px 4px #ffe6cc,0px 0px 6px #ffe6cc,0px 0px 8px #ffe6cc;
  }
  to{
        text-shadow: 0px 0px 4px #ffe6cc,0px 0px 6px #ffcc99,0px 0px 8px #ffcc99,0px 0px 10px #ffcc99;
  }
}

#getMusic input[type="text"]
{
  width: 360px;
  height: 55px;
  border-style: none;
  background-color:#f5e6ff;
  border: 0px solid transparent;
  border-bottom: 2px solid #2f2f1e;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;

}
.searchSong::placeholder{
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 400;
  color: #ffc266;

}
#getMusic button[type="button"]
{
  height: 53px;
  width: 135px;
  color:blue;
  margin: 20px;
  font-size: 1.4rem;

}


/* Contact Section */


#contact {



    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);

    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
}

.my-details-info-container span {
    margin-left: 0.4rem;
    font-size: 0.95rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    /*#2857a4*/

    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}



#contact-form button[type="submit"] {
    background: transparent;
    /*#1a1a1a;*/
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {

    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.horizontal-list
  {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
  }

.horizontal-list li
  {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 1.2rem;
  }

.horizontal-list li a
  {
    color: white;
    text-decoration: none;
  }

.social-icons li a i
 {
    padding: 15px;
    font-size: 1.3rem;
    border-radius: 50%;
    color: #ff5c33;
    font-weight: bold;
    animation: myAnimationIcon 5s ease-in-out infinite alternate;
    margin:0px 5px 0px 5px;
 }
@keyframes myAnimationIcon
  {
    from
     {
       background-color:none;
     }
    33%
     {
       background-color:#c2d6d6;
     }
    66%
     {
       background-color: #a3c2c2;
     }
    to
    {
      background-color:#94b8b8;
    }
  }


.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}
